BlockchainExplorerDesktop/Connected Services/BlockchainServer/BlockchainService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:28451/BlockchainService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Blockchain" />
  <xs:import schemaLocation="http://localhost:28451/BlockchainService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BlockchainService" />
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Blockchain" minOccurs="0" name="role" type="q1:UserRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BlockchainService" minOccurs="0" name="AddDataResult" nillable="true" type="q2:Block" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlocks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlocksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BlockchainService" minOccurs="0" name="GetBlocksResult" nillable="true" type="q3:ArrayOfBlock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>