BlockchainExplorerDesktop/Connected Services/BlockchainService/BlockchainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BlockchainService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:28451/BlockchainService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:28451/BlockchainService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:28451/BlockchainService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BlockchainService" />
      <xsd:import schemaLocation="http://localhost:28451/BlockchainService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Blockchain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBlockchainService_AddHost_InputMessage">
    <wsdl:part name="parameters" element="tns:AddHost" />
  </wsdl:message>
  <wsdl:message name="IBlockchainService_AddHost_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddHostResponse" />
  </wsdl:message>
  <wsdl:message name="IBlockchainService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IBlockchainService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBlockchainService_AddData_InputMessage">
    <wsdl:part name="parameters" element="tns:AddData" />
  </wsdl:message>
  <wsdl:message name="IBlockchainService_AddData_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDataResponse" />
  </wsdl:message>
  <wsdl:message name="IBlockchainService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IBlockchainService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBlockchainService_GetChain_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChain" />
  </wsdl:message>
  <wsdl:message name="IBlockchainService_GetChain_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChainResponse" />
  </wsdl:message>
  <wsdl:portType name="IBlockchainService">
    <wsdl:operation name="AddHost">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlockchainService/AddHost" message="tns:IBlockchainService_AddHost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlockchainService/AddHostResponse" message="tns:IBlockchainService_AddHost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlockchainService/AddUser" message="tns:IBlockchainService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlockchainService/AddUserResponse" message="tns:IBlockchainService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddData">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlockchainService/AddData" message="tns:IBlockchainService_AddData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlockchainService/AddDataResponse" message="tns:IBlockchainService_AddData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlockchainService/Login" message="tns:IBlockchainService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlockchainService/LoginResponse" message="tns:IBlockchainService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChain">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlockchainService/GetChain" message="tns:IBlockchainService_GetChain_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlockchainService/GetChainResponse" message="tns:IBlockchainService_GetChain_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBlockchainService" type="tns:IBlockchainService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddHost">
      <soap:operation soapAction="http://tempuri.org/IBlockchainService/AddHost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IBlockchainService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddData">
      <soap:operation soapAction="http://tempuri.org/IBlockchainService/AddData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IBlockchainService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChain">
      <soap:operation soapAction="http://tempuri.org/IBlockchainService/GetChain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BlockchainService">
    <wsdl:port name="BasicHttpBinding_IBlockchainService" binding="tns:BasicHttpBinding_IBlockchainService">
      <soap:address location="http://localhost:28451/BlockchainService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>